.TreeContainer {
  padding: 5px;
  flex: 1;
  max-width: 400px;
}

.TreeContainer.Scrolling {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: #383c44;
}

.TreeContainer.Scrolling::-webkit-scrollbar { 
  background-color: transparent;
}

.TreeContainer.Scrolling::-webkit-scrollbar-thumb { 
  background-color: #484c54;
  border-radius: 20px;
}

.TreeLine {
  margin: 2px;
  line-height: 25px;
}
