.ViewContainer {
  padding: 5px;
  flex: 1.8;
  min-width: 365px;
}

.ViewContainer.Scrolling {
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.DialogueEditor {
  margin: 3px;
  display: flex;
  flex-direction: column;
}

.DialogueEditor .View {
  flex: 1;
  background-color: #383c44;
  display: flex;
}

.DialogueEditor .ViewForm {
  box-sizing: border-box;
  flex: 1;
}

.DialogueEditor .ViewTextArea {
  background-color: transparent;
  border-color: transparent;
  resize: none;
  width: 340px;
  height: 125px;
  box-sizing: border-box;
  font-family: monospace;
  color: white;
  font-size: 15px;
}

.DialogueEditor .Status {
  display: flex;
  flex-direction: row;
  height: 30px;
}

.DialogueEditor .Status .Page {
  flex: 1;
  align-self: center;
}

.DialogueEditor .Controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
