.App {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  font-size: 13px;
}

.DialogueContainer {
  display: flex;
  flex: 1;
  height: 10vh;
}

.Search {
  display: flex;
  width: 100%;
  min-height: 22px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: rgba(100,100,100,1);
}

.Search input {
  flex: 1;
  background-color: transparent;
  padding: 0px 5px;
  border: none;
  border-radius: 4px;
  color: rgba(255,255,255,1);
}

.Search input::placeholder {
  color: rgba(255,255,255,0.5);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.Search button {
  height: 18px;
  width: 18px;
  border: none;
  margin-right: 2px;
  color: #ffffff;
  background-color: #aaaaaa;
  border-radius: 50%;
  text-align: center;
}

.Search button:active {
  background-color: #888888;
}
