.App {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  font-size: 13px;
}

.Header {
  height: 23px;
  background-color: #181c24;
  -webkit-app-region: drag;
}

.DialogueContainer {
  display: flex;
  flex: 1;
}

.Search {
  display: flex;
  width: 100%;
  min-height: 22px;
  border-radius: 4px;
  color: #ffffff;
  background-color: rgba(100,100,100,1);
}

.Search input {
  flex: 1;
  background-color: transparent;
  padding: 0px 5px;
  border: none;
  border-radius: 4px;
  color: rgba(255,255,255,1);
}

.Search input::placeholder {
  color: rgba(255,255,255,0.5);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
